# misc
.DS_Store
.idea
.vscode
*.swp
*.sublime-*
*.py[c|o]

# Makefile
*.stamp

# Virtualenv
.venv/
__pycache__

# Not required for deployment
.git/
.dockerignore
.editorconfig
.envrc
.flake8
.gitignore
.markdownlintrc
.pre-commit-config.yaml
docker-compose.yml
Dockerfile
LICENCE.md
Makefile
README.md
