#! /usr/bin/env bash

##########################################
# DO NOT MAKE LOCAL CHANGES TO THIS FILE #
#                                        #
# Vars in this file can be overridden by #
# exporting them in .envrc.local         #
##########################################

# Add local paths for scripts
PATH_add ./scripts

# ShellCheck complains about things like `foo=$(cmd)` because you lose the
# return value of `cmd`. That said, we're not using `set -e`, so we aren't
# really concerned about return values. The following `true`, applies the
# rule to the entire file.
# See: https://github.com/koalaman/shellcheck/wiki/SC2155
# shellcheck disable=SC2155
true

required_vars=()
var_docs=()

# Declare an environment variable as required.
#
#   require VAR_NAME "Documentation about how to define valid values"
require() {
  required_vars+=("$1")
  var_docs+=("$2")
}

# Check all variables declared as required. If any are missing, print a message and
# exit with a non-zero status.
check_required_variables() {
  for i in "${!required_vars[@]}"; do
    var=${required_vars[i]}
    if [[ -z "${!var}" ]]; then
      log_status "${var} is not set: ${var_docs[i]}"
      missing_var=true
    fi
  done

  if [[ $missing_var == "true" ]]; then
    log_error "Your environment is missing some variables!"
    log_error "Set the above variables in .envrc.local and try again."
  fi
}

#########################
# Project Configuration #
#########################

# Python Settings
export PIP_REQUIRE_VIRTUALENV=true

# Django Settings
export LOCAL_HOST_NAME=engadminlocal
export DJANGO_ALLOWED_HOSTS="localhost 127.0.0.1 [::1] ${LOCAL_HOST_NAME}"
export DJANGO_DEBUG=1
export DJANGO_SECRET_KEY="9k#x@9w3zh+2w0)g=zk4#p%-h4f3r@^q&2rwp#phjicfb-#f@*"

# DB Settings
export DB_ENGINE=django.db.backends.postgresql
export DB_PASSWORD=mysecretpassword
export PGPASSWORD=$DB_PASSWORD
export DB_USER=postgres
export DB_HOST=localhost
export DB_PORT=5432
export DB_NAME=dev_db

# login.gov
export LOGIN_GOV_CALLBACK_PROTOCOL="http"
export LOGIN_GOV_CALLBACK_PORT="3000"
export LOGIN_GOV_ENGADMIN_CLIENT_ID="urn:gov:gsa:openidconnect.profiles:sp:sso:dod:engadminmovemillocal"
export LOGIN_GOV_HOSTNAME="idp.int.identitysandbox.gov"

export LOGIN_GOV_KID_JWK="milmove_admin"
export LOGIN_GOV_JWK_SET_FILENAME="keyset.jwk"
require LOGIN_GOV_SECRET_KEY "See 'chamber read app-devlocal login_gov_secret_key'"


##############################################
# Load Local Overrides and Check Environment #
##############################################

# Load a local overrides file. Any changes you want to make for your local
# environment should live in that file.

if [ -e .envrc.local ]
then
  source_env .envrc.local
fi

# Check that all required environment variables are set
check_required_variables
