#! /usr/bin/env bash

##########################################
# DO NOT MAKE LOCAL CHANGES TO THIS FILE #
#                                        #
# Vars in this file can be overridden by #
# exporting them in .envrc.local         #
##########################################

# Add local paths for scripts
PATH_add ./scripts

# ShellCheck complains about things like `foo=$(cmd)` because you lose the
# return value of `cmd`. That said, we're not using `set -e`, so we aren't
# really concerned about return values. The following `true`, applies the
# rule to the entire file.
# See: https://github.com/koalaman/shellcheck/wiki/SC2155
# shellcheck disable=SC2155
true

required_vars=()
var_docs=()

# Declare an environment variable as required.
#
#   require VAR_NAME "Documentation about how to define valid values"
require() {
  required_vars+=("$1")
  var_docs+=("$2")
}

# Check all variables declared as required. If any are missing, print a message and
# exit with a non-zero status.
check_required_variables() {
  for i in "${!required_vars[@]}"; do
    var=${required_vars[i]}
    if [[ -z "${!var}" ]]; then
      log_status "${var} is not set: ${var_docs[i]}"
      missing_var=true
    fi
  done

  if [[ $missing_var == "true" ]]; then
    log_error "Your environment is missing some variables!"
    log_error "Set the above variables in .envrc.local and try again."
  fi
}

#########################
# Project Configuration #
#########################

# Python Settings
export PIP_REQUIRE_VIRTUALENV=true

# Django Settings
export DJANGO_ALLOWED_HOSTS="localhost 127.0.0.1 [::1]"
export DJANGO_DEBUG=1
export DJANGO_SECRET_KEY="9k#x@9w3zh+2w0)g=zk4#p%-h4f3r@^q&2rwp#phjicfb-#f@*"

# DB Settings
export DB_ENGINE=django.db.backends.postgresql
export DB_PASSWORD=mysecretpassword
export PGPASSWORD=$DB_PASSWORD
export DB_USER=postgres
export DB_HOST=localhost
export DB_PORT=5432
export DB_NAME=dev_db

# Transcom ppp-infra repo path
require PPP_INFRA_PATH "Set to your local checkout of https://github.com/transcom/ppp-infra (e.g., ~/your-personal-repo-directory/ppp-infra)."

# Your AWS credentials should be setup in the transcom-ppp profile using
# aws-vault. They will be detected and used by the app automatically.
export AWS_VAULT_KEYCHAIN_NAME=login
export AWS_PROFILE=transcom-ppp


##############################################
# Load Local Overrides and Check Environment #
##############################################

# Load a local overrides file. Any changes you want to make for your local
# environment should live in that file.

if [ -e .envrc.local ]
then
  source_env .envrc.local
fi

# Source the ppp-infra repo .envrc to get aws-vault wrapper
# configuration setup.
if [ -e "$PPP_INFRA_PATH"/transcom-ppp/.envrc ]
then
    source_env "$PPP_INFRA_PATH"/transcom-ppp/.envrc
    behind=$(git --git-dir="$PPP_INFRA_PATH/.git" rev-list --count origin/master...HEAD)
    if [[ "$behind" != "0" ]]; then
      log_error "Your repository checkout of transcom/ppp-infra is $behind commits behind master. Please update."
    fi
else
    log_error "Unable to find the transcom-ppp/.envrc file. Please check PPP_INFRA_PATH if aws commands don't work."
fi

# Check that all required environment variables are set
check_required_variables
